<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width==device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Hi Team</p>

    <p>Changes have been made to CI: <b><em><%= Titlep %></em></b>,
        <br> <b>Name:</b> <%= namep %>
        <br> <b>Install Status:</b> <%= InstallStatusp %> 
        <br> <b>Category:</b> <%= Categoryp %> 
        <br> <b>Support Group:</b> <%= SupportGroupp %> 
        <br> <b>System Role:</b> <%= SystemRolep %> 
        <br> <b>IP Address:</b> <%= IPAddressp %> 
        <br> <b>Location:</b> <%= Locationp %> 
        <br> <b>Administrator By:</b> <%= AdministratorByp %> 
        <br> <b>Hosted On:</b> <%= HostedOnp %> 
        <br> <b>Operating System:</b> <%= OperatingSystemp %> 
        <br> <b>Reboot Slot:</b> <%= RebootSlotp %> 
    </p><b>
</body>
</html>
